title = "October overview"
url = "/october"
layout = "default"
==
<div class="jumbotron">
    <div class="container">
        {% content "welcome.htm" %}
    </div>
</div>

<div class="container">

    <!-- Layouts -->
    <h3>Layouts</h3>
    <p class="lead">
        <i class="icon-th-large"></i> &nbsp; Layouts define the page scaffold.
    </p>
    <p>
        The layout file <code>layouts/default.htm</code> defines the page scaffold &mdash;
        everything that repeats on each page, such as the HTML, HEAD and BODY tags, StyleSheet and JavaScript references.
    </p>
    <p>The page menu and footer in the Demo theme are defined in the layout as well.</p>

    <hr />

    <!-- Pages -->
    <h3>Pages</h3>
    <p class="lead">
        <i class="icon-copy"></i> &nbsp; Pages hold the content for each URL.
    </p>
    <p>
        The page file <code>pages/home.htm</code> defines the page URL (<code>/</code> for this page) and the page content.
        Pages are rendered inside layouts with this function that should be called in the layout code:
    </p>
    <pre>{{ "{% page %}" }}</pre>
    <p>Using a layout for pages is optional &mdash; you can define everything right in the page file.</p>

    <hr />

    <!-- Partials -->
    <h3>Partials</h3>
    <p class="lead">
        <i class="icon-tags"></i> &nbsp; Partials contain reusable chunks of HTML markup.
    </p>
    <p>
        Partials are chunks of HTML defined in separate files that can be included anywhere.
        Partials are rendered with:
    </p>
    <pre>{{ "{% partial \"partial-name\" %}" }}</pre>
    <p>You may place partials inside folders too. In this example we placed the footer content to the <code>partials/site/footer.htm</code> partial.</p>
    <pre>{{ "{% partial \"site/footer\" %}" }}</pre>
    <p>Partials can be used inside pages, layouts or other partials.</p>

    <hr />

    <!-- Content blocks -->
    <h3>Content blocks</h3>
    <p class="lead">
        <i class="icon-font"></i> &nbsp; Content blocks are text or HTML blocks that can be edited separately from the page or layout.
    </p>
    <p>
        The introductory text used on this page is defined in the <code>content/welcome.htm</code> file.
        Content blocks are defined and rendered with:
        <pre>{{ "{% content \"content-name.htm\" %}" }}</pre>
    </p>

    <hr />

    <!-- Placeholders -->
    <h3>Placeholders</h3>
    <p class="lead">
        <i class="icon-bookmark"></i> &nbsp; Placeholders allow pages to inject content to a layout.
    </p>
    <p>
        The common use is injecting page-specific links to StyleSheet or JavaScript files to the HEAD tag defined in the layout.
        Placeholders are defined in the layout file and they have names so that they can be referred in the page.
        Example:
    </p>
    <div class="row">
        <div class="col-md-6">
            <p>Layout file:</p>
            <pre>{% content "placeholder/layout.txt" %}</pre>
        </div>
        <div class="col-md-6">
            <p>Page file:</p>
            <pre>{% content "placeholder/page.txt" %}</pre>
        </div>
    </div>

    <br />

    <div class="text-center">
        <p><a target="_blank" href="http://octobercms.com/docs" class="btn btn-lg btn-default">Learn more at October's Documentation</a></p>
    </div>

</div>
