{% for item in items %}
    <li class="list-group-item">
        <input type="hidden" name="items[]" value="{{ item }}" />
        
        {{ item }}

        <button type="button" class="js-todo_remove close pull-right" data-id="{{ loop.index0 }}" aria-hidden="true">&times;</button>
    </li>
{% endfor %}