{% flash success %}
    <div class="alert alert-success">{{ message }}</div>
{% endflash %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">comments</h3>
  </div>

{% set items =  comments.getComments(this.param.id) %}
	<div class="panel-body">
	{% for comment in items %}
	  
		<div class="list-group">
			  <a  class="list-group-item" >
			  	<img style="width: 200px;" src="{{ comment.file_path }}">
			  	<!-- <img src="{{ product.attachments.0.path }}"> -->
			    <h4 class="list-group-item-heading">Автор: {{ comment.name }}</h4>
			    <p class="list-group-item-text">Відгук: {{ comment.content|raw }}</p>
			  </a>
		</div>


	 {% endfor %}  

		</div>
</div>

	{{ form_open({files: true, request: 'onFileUpload'}) }}
		<input type="hidden" name="id" required="required" value="{{this.param.id}}">
		<div class="form-group">
		    <label for="formGroupExampleInput">Автор:</label>
		    <input type="text" name="name" required="required" placeholder="Author">
		</div>
		<div class="form-group">
		    <label for="formGroupExampleInput">Email:</label>
		    <input type="email" name="email" required="required" placeholder="Email">
		</div>
		<div class="form-group">
		    <label for="formGroupExampleInput">Відгук:</label>
		    <input type="textarea" name="text" required="required" placeholder="Message">	</div>
		<div class="form-group">
		    <label for="formGroupExampleInput">Файл:</label>
		    <input type="file" name="file-upload" required="required" class="btn btn-primary">
		</div>
		<div class="form-group">
		    <button type="submit" class="btn btn-primary">Залишити відгук</button>
		</div>	   

	{{ form_close() }}	

	
